body{background-color: rgb(99, 96, 96);text-align: justify; font-size: 18px;}
h1 {text-align: center;background-color: rgb(70, 70, 70);color: rgb(41, 41, 41);}
h3 {text-align: justify; color: blanchedalmond;}
b {color: rgb(0, 0, 0); font-size: 18px;}
i {color: blueviolet; font-size: 18px;} 
header footer{background-color: rgb(177, 177, 177);}
main{background-color: rgb(204, 204, 204);}
.PRIMEIROPARAGRAFO{text-align: justify;font-size: 18px; border: burlywood;}
.SEGUNDOPARAGRAFO{text-align: justify; font-size: 18px; border: black;}
#chaves_metaleiro {width: 5%; height: 5%;}
#lista{display: inline-block;}